
{% extends 'htfiles/header.html' %}
{% block title %}User Info{% endblock %}
{% block content %}
<div class="container">
	<div class="row mt-5">
		<div class="card col-md-5">
			<h3 class="bg-secondary text-center text-white p-2 border rounded mt-3">User Basic Details</h3>
			<table class="table table-borderless">
				<tr>
					<th>Username</th>
					<td>{{y.medicine_name}}</td>
				</tr>
				<tr>
					<th>Email</th>
					<td>{{y.batch_no}}</td>
				</tr>
				<tr>
					<th>Password</th>
					<td>{{y.category}}</td>
				</tr>
				<tr>
					<th>Age</th>
					<td>{{y.production_date}}</td>
				</tr>
			</table>
			<a href="{% url 'tab' %}" class="btn btn-primary btn-block my-2">Back</a>
		</div>
		<div class="card col-md-5">
			<h3 class=" bg-info text-center text-dark border rounded p-2 mt-3">Full Details</h3>
			<table class="table table-borderless">
				<tr>
					<th>Mobile Number</th>
					<td>{{yu.entry_date}}</td>
				</tr>
				<tr>
					<th>Gender</th>
					<td>{{yu.expiry_date}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>
{% endblock %}