{% load static %}
<style type="text/css">
  h3 {
  text-shadow: 2px 2px 2px;
}
.nav-link
{
  color: dark;
}
</style>
<div class="row">
  <div class="col col-md-1" style="margin-left:1px;">
  <img src="{% static 'images/NGO.jpg' %}" alt="logo" style="width:90px; height: 70px;" class="rounded-circle">  
  </div>
  <div class="col mt-2">
    <h3>Helping NGO</h3>
    <p>Address</p>
  </div>

  <div class="col-md-3" style="margin-right: 4px">
    <h4 class="mt-3">Contact No: 11111111111</h4>
    <h6>Email address: abc@gmail.com</h6>
  </div>
</div>
<a class="" href="{% url 'home' %}">
  </a>
<div class="container">
  <div class="row">
  </div>
</div>


<nav class="navbar navbar-expand-sm bg-info text-white navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img src="{% static 'images/brand.png' %}" alt="logo" style="width: 40px;">
   
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <!-- Links -->
  

  <ul class="navbar-nav ml-auto text-white" style="margin-right: 300px">
{% if not user.is_authenticated %}
    <li class="nav-item" style="margin-right: 80px">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item" style="margin-right: 80px">
      <a class="nav-link" href="#">About us</a>
    </li>
    <li class="nav-item" style="margin-right: 80px">
      <a class="nav-link" href="#">Our workers</a>
    </li>
    <li class="nav-item" style="margin-right: 80px">
      <a class="nav-link" href="{% url 'don' %}">Our workers</a>
    </li>
    <li class="nav-item" style="margin-right: 80px">
      <a class="nav-link" href="#">Contact us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'log' %}"><span class="glyphicon glyphicon-user"></span>Login</a>
    </li>
  </ul>
  {% else %}
  <ul class="navbar-nav ml-auto" style="margin-right: 80px">
    <li class="nav-item" style="margin-right: 80px">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item" style="margin-right: 80px">
      <a class="nav-link" href="#">About us</a>
    </li>
    <li class="nav-item" style="margin-right: 80px">
      <a class="nav-link" href="#">Our workers</a>
    </li>
    <li class="nav-item" style="margin-right: 80px">
      <a class="nav-link" href="{% url 'don' %}">Our workers</a>
    </li>
    <li class="nav-item" style="margin-right: 80px">
      <a class="nav-link" href="#">Contact us</a>
    </li>
  <li class="dropdown">
      <a type="button" class="nav-link dropdown-toggle" data-toggle="dropdown">{{request.user.username}}</a>
    
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Dashboard</a>
      <a class="dropdown-item" href="{% url 'cg' %}">Change Password</a>
      <a class="dropdown-item" href="{% url 'logo' %}">Logout</a>
    </div>
    
    </li>
    {% endif %}
    </ul>

<!--   <ul class="navbar-nav ml-auto" style="margin-right: 80px">
     <li class="nav-item">
      <a class="nav-link" href="#">{{request.user.username}}</a>
    </li>
  </ul> -->
</div>

</nav>






