{% extends 'htfiles/header.html' %}
{% block title%}Reset Password Confirm{% endblock %}
{% block content %}
<div class="container">
	<div class="card col-md-6 mt-4 mx-auto">
		<h3 class="text-centre text-light bg-danger mt-2 p-2">Reset Password</h3>
		<div class="card-body">
			<form method="POST">
				{% csrf_token %}
				<!-- {{form.as_p}} -->
				<input type="password" name="new_password1" class="form-control my-2" placeholder="Enter new password">
				<input type="password" name="new_password2" class="form-control my-2" placeholder="Enter new confirm password">
				<input type="submit" value="Update" class="form-control btn btn-secondary btn-block my-2">
			</form>
		</div>
	</div>
</div>
{% endblock %}